# ========================
# Secrets & credentials
# ========================
.env
*.pem

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environments
# ========================
.venv/
venv/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/

# ========================
# ML artifacts (optional)
# ========================
*.pth
*.onnx
*.pt
products_vectorstore/
memory.json

# ========================
.idea/


