version: '3.8'

services:
  valuai-app:
    build: 
      context: ..
      dockerfile: Dockerfile
    container_name: valuai_core
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - HF_TOKEN=${HF_TOKEN}
      - PUSHOVER_USER=${PUSHOVER_USER}
      - PUSHOVER_TOKEN=${PUSHOVER_TOKEN}
      - ENV=production
    volumes:
      - ../products_vectorstore:/app/products_vectorstore
      - ../memory.json:/app/memory.json
    networks:
      - valuai-net

networks:
  valuai-net:
    driver: bridge
